.asteroid-big {
    color: blue;
    background-color: yellow;
    width: 250px;
}
.asteroid-b329-big {
    color: blue;
    font-weight: bold;
    width: 250px;
}
.asteroid {
    border: solid green 1px;
    font-weight: bold;
    width: 250px;
}
.asteroid-b326 {
    border: solid green 1px;
    font-weight: bold;
    width: 250px;
}